html {
    background-color: #000;
}

body {
    font-family: "Lucida Console";
    font-size: 13px;
    color: #0f0; 
}

.in::before {
    content: '> ';
}

#in{
    border-width: 0;
    background-color: #000;
    color: #0f0;
    width: 90%;
    padding: 8px;
}

#in:focus{
    outline:none;
}

#out {
    color: #0f0;
    top: 0px;
    bottom: 35px;
    overflow: auto;
    width:100%;
}

a, a:hover, a:visited{
    color: #0f0;
}

.js-out{
    display: none;
}

.js-in{
    display: inline;
}